.ChoiceCard-div { 
    background-color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    height: 250px;
    border-width: 5px;
    border-style: solid;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ChoiceCard-img {
    height: 70%;
    max-width: 250px;
}

.ChoiceCard-h1 {
    font-size: 30px;
    font-weight: bold;
}

.red {
    color: red;
    border-color: red;
    box-shadow: 2px 5px 2px red;
}

.blue {
    color: blue;
    border-color: blue;
    box-shadow: 4px 5px 2px blue;
}

.green {
    color: green;
    border-color: green;
    box-shadow: -4px 5px 2px green;
}